# Rust build files
/target
/Cargo.lock
/*/target
/*/Cargo.lock

/*.opengfd/obj
/*.opengfd/riri_hook
.vs/

/*/incl/
/*/middata/
!*-globals/middata/
*.g.cs

# See sample script in SetEnv.ps1
/SetEnv.local.ps1
/env.local.yaml

# Build script 
/buildscript/*/bin
/buildscript/*/obj

# Jetbrains IDE
**/.idea

# Tool data
/tools/bin/*

# Reloaded-II publish script
/Publish/*